@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  *:focus {
    outline: dotted;
    outline-offset: 2px;
    outline-color: #94a3b8;
    outline-width: 3px;
  }

  .lazyLoadHomeFlags {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.slate.300) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 0.5s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }
}
